<%- include('header'); -%>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint in officia possimus quo minus eius eum quibusdam, asperiores tempore illo error temporibus culpa sit doloremque optio aliquid dolorem assumenda odio?</p>

    <%- include('footer'); -%>